@charset "utf-8";
/* CSS Document */

body {
  background-color: lightblue;
}

@media screen and (min-width: 800px) { 
 body { 
 font-size: 60px; 
background-color: red;
 
}
}

@media screen and (max-width: 412px) { 
body { 
font-size: 40px; 
background-color: yellow; 
}
}




