@charset "utf-8";
/* CSS Document */

body {
  background-color: #3F3;
}

@media screen and (min-width: 800px) { 
 body { 
 font-size: 60px; 
background-color: #F3F;
 
}
}

@media screen and (max-width: 412px) { 
body { 
font-size: 40px; 
background-color: #FC0; 
}
}




