@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1400px) { 
 body { 
 font-size: 60px; 
background-color: red;
 
}

@media only screen and (min-width: 480px) { 
body { 
font-size: 40px; 
background-color: yellow;

 
}

